In [3]:
from mysql import connector
import pandas as pd

# Connect to your MySQL database
db_connection = connector.connect(
    host="localhost",
    user="root",
    password="7040",
    database="acadiatest"
)

cursor = db_connection.cursor()

columns_to_insert = ['DepartmentID', 'Year', 'SegmentID', 'ProfileID', 'Sales', 'Customers']

excel_file = pd.read_excel(r"C:\Users\Vinicius\Desktop\Acadia Test\Acadia - Sr Analyst Case Study.xlsx", sheet_name="S2 - Dept Data")

# Iterate through the rows of the DataFrame and insert data into the MySQL table
for index, row in excel_file[columns_to_insert].iterrows():
    # Convert NaN values to 'NaN' as strings
    row = row.apply(lambda x: str(x) if pd.notna(x) else 'NaN')
    print(row)
    
    data = tuple(row)
    
    insert_query = "INSERT INTO fHistory (DepartmentID, Year, SegmentID, ProfileID, Sales, Customers) VALUES (%s, %s, %s, %s, %s, %s)"
    
    cursor.execute(insert_query, data)

# Commit the changes to the database
db_connection.commit()

# Close the cursor and database connection
cursor.close()
db_connection.close()

DepartmentID          A
Year               1999
SegmentID             1
ProfileID           NaN
Sales           1989.77
Customers           347
Name: 0, dtype: object
DepartmentID         A
Year              1999
SegmentID            1
ProfileID          1.0
Sales           6270.3
Customers          616
Name: 1, dtype: object
DepartmentID          A
Year               1999
SegmentID             1
ProfileID           2.0
Sales           7131.06
Customers           657
Name: 2, dtype: object
DepartmentID          A
Year               1999
SegmentID             1
ProfileID           3.0
Sales           7293.91
Customers           665
Name: 3, dtype: object
DepartmentID          A
Year               1999
SegmentID             1
ProfileID           4.0
Sales           1995.79
Customers           348
Name: 4, dtype: object
DepartmentID          A
Year               1999
SegmentID             1
ProfileID           5.0
Sales           9664.38
Customers           765
Name: 5, dtype: object
DepartmentID          A
Year               1999
SegmentID             1
ProfileID           6.0
Sales           1518.38
Customers           303
Name: 6, dtype: object
DepartmentID           A
Year                1999
SegmentID              2
ProfileID            NaN
Sales           12049.16
Customers            829
Name: 7, dtype: object
DepartmentID          A
Year               1999
SegmentID             2
ProfileID           1.0
Sales           2882.61
Customers           405
Name: 8, dtype: object
DepartmentID          A
Year               1999
SegmentID             2
ProfileID           2.0
Sales           4608.67
Customers           513
Name: 9, dtype: object
DepartmentID           A
Year                1999
SegmentID              2
ProfileID            3.0
Sales           10086.77
Customers            758
Name: 10, dtype: object
DepartmentID       A
Year            1999
SegmentID          2
ProfileID        4.0
Sales           7.09
Customers         20
Name: 11, dtype: object
DepartmentID          A
Year               1999
SegmentID             2
ProfileID           5.0
Sales           2095.27
Customers           346
Name: 12, dtype: object
DepartmentID         A
Year              1999
SegmentID            2
ProfileID          6.0
Sales           1261.1
Customers          268
Name: 13, dtype: object
DepartmentID          A
Year               1999
SegmentID             3
ProfileID           NaN
Sales           2559.19
Customers           376
Name: 14, dtype: object
DepartmentID           A
Year                1999
SegmentID              3
ProfileID            1.0
Sales           12255.65
Customers            822
Name: 15, dtype: object
DepartmentID          A
Year               1999
SegmentID             3
ProfileID           2.0
Sales           1674.41
Customers           304
Name: 16, dtype: object
DepartmentID         A
Year              1999
SegmentID            3
ProfileID          3.0
Sales           240.03
Customers          115
Name: 17, dtype: object
DepartmentID          A
Year               1999
SegmentID             3
ProfileID           4.0
Sales           7208.34
Customers           630
Name: 18, dtype: object
DepartmentID          A
Year               1999
SegmentID             3
ProfileID           5.0
Sales           2600.68
Customers           379
Name: 19, dtype: object
DepartmentID        A
Year             1999
SegmentID           3
ProfileID         6.0
Sales           75.37
Customers          64
Name: 20, dtype: object
DepartmentID          A
Year               1999
SegmentID             4
ProfileID           NaN
Sales           2456.74
Customers           369
Name: 21, dtype: object
DepartmentID          A
Year               1999
SegmentID             4
ProfileID           1.0
Sales           9881.91
Customers           739
Name: 22, dtype: object
DepartmentID         A
Year              1999
SegmentID            4
ProfileID          2.0
Sales           230.51
Customers          113
Name: 23, dtype: object
DepartmentID          A
Year               1999
SegmentID             4
ProfileID           3.0
Sales           1949.04
Customers           328
Name: 24, dtype: object
DepartmentID          A
Year               1999
SegmentID             4
ProfileID           4.0
Sales           9214.39
Customers           714
Name: 25, dtype: object
DepartmentID        A
Year             1999
SegmentID           4
ProfileID         5.0
Sales           19.62
Customers          33
Name: 26, dtype: object
DepartmentID         A
Year              1999
SegmentID            4
ProfileID          6.0
Sales           990.71
Customers          234
Name: 27, dtype: object
DepartmentID           A
Year                1999
SegmentID              5
ProfileID            NaN
Sales           12282.51
Customers            804
Name: 28, dtype: object
DepartmentID          A
Year               1999
SegmentID             5
ProfileID           1.0
Sales           4141.88
Customers           467
Name: 29, dtype: object
DepartmentID          A
Year               1999
SegmentID             5
ProfileID           2.0
Sales           8902.07
Customers           684
Name: 30, dtype: object
DepartmentID           A
Year                1999
SegmentID              5
ProfileID            3.0
Sales           13617.92
Customers            846
Name: 31, dtype: object
DepartmentID        A
Year             1999
SegmentID           5
ProfileID         4.0
Sales           16.97
Customers          30
Name: 32, dtype: object
DepartmentID       A
Year            1999
SegmentID          5
ProfileID        5.0
Sales           20.7
Customers         33
Name: 33, dtype: object
DepartmentID        A
Year             1999
SegmentID           5
ProfileID         6.0
Sales           103.4
Customers          74
Name: 34, dtype: object
DepartmentID          A
Year               2000
SegmentID             1
ProfileID           NaN
Sales           2220.17
Customers           319
Name: 35, dtype: object
DepartmentID          A
Year               2000
SegmentID             1
ProfileID           1.0
Sales           6996.35
Customers           567
Name: 36, dtype: object
DepartmentID          A
Year               2000
SegmentID             1
ProfileID           2.0
Sales           7956.79
Customers           605
Name: 37, dtype: object
DepartmentID         A
Year              2000
SegmentID            1
ProfileID          3.0
Sales           8138.5
Customers          612
Name: 38, dtype: object
DepartmentID          A
Year               2000
SegmentID             1
ProfileID           4.0
Sales           2226.88
Customers           320
Name: 39, dtype: object
DepartmentID           A
Year                2000
SegmentID              1
ProfileID            5.0
Sales           10783.45
Customers            704
Name: 40, dtype: object
DepartmentID         A
Year              2000
SegmentID            1
ProfileID          6.0
Sales           1694.2
Customers          279
Name: 41, dtype: object
DepartmentID           A
Year                2000
SegmentID              2
ProfileID            NaN
Sales           11171.88
Customers            811
Name: 42, dtype: object
DepartmentID          A
Year               2000
SegmentID             2
ProfileID           1.0
Sales           2672.74
Customers           396
Name: 43, dtype: object
DepartmentID          A
Year               2000
SegmentID             2
ProfileID           2.0
Sales           4273.12
Customers           501
Name: 44, dtype: object
DepartmentID          A
Year               2000
SegmentID             2
ProfileID           3.0
Sales           9352.37
Customers           742
Name: 45, dtype: object
DepartmentID       A
Year            2000
SegmentID          2
ProfileID        4.0
Sales           6.58
Customers         20
Name: 46, dtype: object
DepartmentID          A
Year               2000
SegmentID             2
ProfileID           5.0
Sales           1942.72
Customers           338
Name: 47, dtype: object
DepartmentID          A
Year               2000
SegmentID             2
ProfileID           6.0
Sales           1169.28
Customers           262
Name: 48, dtype: object
DepartmentID         A
Year              2000
SegmentID            3
ProfileID          NaN
Sales           2468.8
Customers          381
Name: 49, dtype: object
DepartmentID           A
Year                2000
SegmentID              3
ProfileID            1.0
Sales           11822.75
Customers            833
Name: 50, dtype: object
DepartmentID          A
Year               2000
SegmentID             3
ProfileID           2.0
Sales           1615.26
Customers           308
Name: 51, dtype: object
DepartmentID         A
Year              2000
SegmentID            3
ProfileID          3.0
Sales           231.55
Customers          117
Name: 52, dtype: object
DepartmentID          A
Year               2000
SegmentID             3
ProfileID           4.0
Sales           6953.72
Customers           639
Name: 53, dtype: object
DepartmentID          A
Year               2000
SegmentID             3
ProfileID           5.0
Sales           2508.82
Customers           384
Name: 54, dtype: object
DepartmentID        A
Year             2000
SegmentID           3
ProfileID         6.0
Sales           72.71
Customers          65
Name: 55, dtype: object
DepartmentID          A
Year               2000
SegmentID             4
ProfileID           NaN
Sales           2496.34
Customers           367
Name: 56, dtype: object
DepartmentID           A
Year                2000
SegmentID              4
ProfileID            1.0
Sales           10041.21
Customers            736
Name: 57, dtype: object
DepartmentID         A
Year              2000
SegmentID            4
ProfileID          2.0
Sales           234.22
Customers          112
Name: 58, dtype: object
DepartmentID          A
Year               2000
SegmentID             4
ProfileID           3.0
Sales           1980.46
Customers           327
Name: 59, dtype: object
DepartmentID          A
Year               2000
SegmentID             4
ProfileID           4.0
Sales           9362.93
Customers           711
Name: 60, dtype: object
DepartmentID        A
Year             2000
SegmentID           4
ProfileID         5.0
Sales           19.93
Customers          33
Name: 61, dtype: object
DepartmentID          A
Year               2000
SegmentID             4
ProfileID           6.0
Sales           1006.68
Customers           233
Name: 62, dtype: object
DepartmentID           A
Year                2000
SegmentID              5
ProfileID            NaN
Sales           14627.55
Customers            888
Name: 63, dtype: object
DepartmentID          A
Year               2000
SegmentID             5
ProfileID           1.0
Sales           4932.67
Customers           516
Name: 64, dtype: object
DepartmentID           A
Year                2000
SegmentID              5
ProfileID            2.0
Sales           10601.69
Customers            756
Name: 65, dtype: object
DepartmentID           A
Year                2000
SegmentID              5
ProfileID            3.0
Sales           16217.92
Customers            935
Name: 66, dtype: object
DepartmentID        A
Year             2000
SegmentID           5
ProfileID         4.0
Sales           20.21
Customers          33
Name: 67, dtype: object
DepartmentID        A
Year             2000
SegmentID           5
ProfileID         5.0
Sales           24.65
Customers          36
Name: 68, dtype: object
DepartmentID         A
Year              2000
SegmentID            5
ProfileID          6.0
Sales           123.14
Customers           81
Name: 69, dtype: object
DepartmentID          B
Year               1999
SegmentID             1
ProfileID           NaN
Sales           6791.26
Customers           616
Name: 70, dtype: object
DepartmentID           B
Year                1999
SegmentID              1
ProfileID            1.0
Sales           21401.12
Customers           1093
Name: 71, dtype: object
DepartmentID           B
Year                1999
SegmentID              1
ProfileID            2.0
Sales           24338.99
Customers           1166
Name: 72, dtype: object
DepartmentID           B
Year                1999
SegmentID              1
ProfileID            3.0
Sales           24894.83
Customers           1179
Name: 73, dtype: object
DepartmentID          B
Year               1999
SegmentID             1
ProfileID           4.0
Sales           6811.81
Customers           617
Name: 74, dtype: object
DepartmentID           B
Year                1999
SegmentID              1
ProfileID            5.0
Sales           32985.46
Customers           1358
Name: 75, dtype: object
DepartmentID          B
Year               1999
SegmentID             1
ProfileID           6.0
Sales           5182.39
Customers           538
Name: 76, dtype: object
DepartmentID           B
Year                1999
SegmentID              2
ProfileID            NaN
Sales           31260.34
Customers           1282
Name: 77, dtype: object
DepartmentID          B
Year               1999
SegmentID             2
ProfileID           1.0
Sales           7478.65
Customers           627
Name: 78, dtype: object
DepartmentID           B
Year                1999
SegmentID              2
ProfileID            2.0
Sales           11956.73
Customers            793
Name: 79, dtype: object
DepartmentID          B
Year               1999
SegmentID             2
ProfileID           3.0
Sales           26169.1
Customers          1173
Name: 80, dtype: object
DepartmentID        B
Year             1999
SegmentID           2
ProfileID         4.0
Sales           18.41
Customers          31
Name: 81, dtype: object
DepartmentID          B
Year               1999
SegmentID             2
ProfileID           5.0
Sales           5435.98
Customers           534
Name: 82, dtype: object
DepartmentID          B
Year               1999
SegmentID             2
ProfileID           6.0
Sales           3271.79
Customers           415
Name: 83, dtype: object
DepartmentID          B
Year               1999
SegmentID             3
ProfileID           NaN
Sales           4878.62
Customers           498
Name: 84, dtype: object
DepartmentID           B
Year                1999
SegmentID              3
ProfileID            1.0
Sales           23363.08
Customers           1090
Name: 85, dtype: object
DepartmentID          B
Year               1999
SegmentID             3
ProfileID           2.0
Sales           3191.94
Customers           403
Name: 86, dtype: object
DepartmentID         B
Year              1999
SegmentID            3
ProfileID          3.0
Sales           457.57
Customers          153
Name: 87, dtype: object
DepartmentID           B
Year                1999
SegmentID              3
ProfileID            4.0
Sales           13741.33
Customers            836
Name: 88, dtype: object
DepartmentID          B
Year               1999
SegmentID             3
ProfileID           5.0
Sales           4957.71
Customers           502
Name: 89, dtype: object
DepartmentID         B
Year              1999
SegmentID            3
ProfileID          6.0
Sales           143.69
Customers           85
Name: 90, dtype: object
DepartmentID          B
Year               1999
SegmentID             4
ProfileID           NaN
Sales           7009.74
Customers           598
Name: 91, dtype: object
DepartmentID           B
Year                1999
SegmentID              4
ProfileID            1.0
Sales           28195.79
Customers           1199
Name: 92, dtype: object
DepartmentID        B
Year             1999
SegmentID           4
ProfileID         2.0
Sales           657.7
Customers         183
Name: 93, dtype: object
DepartmentID          B
Year               1999
SegmentID             4
ProfileID           3.0
Sales           5561.14
Customers           533
Name: 94, dtype: object
DepartmentID           B
Year                1999
SegmentID              4
ProfileID            4.0
Sales           26291.18
Customers           1158
Name: 95, dtype: object
DepartmentID        B
Year             1999
SegmentID           4
ProfileID         5.0
Sales           55.97
Customers          53
Name: 96, dtype: object
DepartmentID          B
Year               1999
SegmentID             4
ProfileID           6.0
Sales           2826.76
Customers           380
Name: 97, dtype: object
DepartmentID           B
Year                1999
SegmentID              5
ProfileID            NaN
Sales           29342.75
Customers           1193
Name: 98, dtype: object
DepartmentID          B
Year               1999
SegmentID             5
ProfileID           1.0
Sales           9894.89
Customers           693
Name: 99, dtype: object
DepartmentID           B
Year                1999
SegmentID              5
ProfileID            2.0
Sales           21266.92
Customers           1016
Name: 100, dtype: object
DepartmentID           B
Year                1999
SegmentID              5
ProfileID            3.0
Sales           32533.02
Customers           1256
Name: 101, dtype: object
DepartmentID        B
Year             1999
SegmentID           5
ProfileID         4.0
Sales           40.55
Customers          44
Name: 102, dtype: object
DepartmentID        B
Year             1999
SegmentID           5
ProfileID         5.0
Sales           49.45
Customers          49
Name: 103, dtype: object
DepartmentID         B
Year              1999
SegmentID            5
ProfileID          6.0
Sales           247.01
Customers          109
Name: 104, dtype: object
DepartmentID          B
Year               2000
SegmentID             1
ProfileID           NaN
Sales           6110.94
Customers           509
Name: 105, dtype: object
DepartmentID           B
Year                2000
SegmentID              1
ProfileID            1.0
Sales           19257.24
Customers            903
Name: 106, dtype: object
DepartmentID          B
Year               2000
SegmentID             1
ProfileID           2.0
Sales           21900.8
Customers           963
Name: 107, dtype: object
DepartmentID           B
Year                2000
SegmentID              1
ProfileID            3.0
Sales           22400.95
Customers            974
Name: 108, dtype: object
DepartmentID          B
Year               2000
SegmentID             1
ProfileID           4.0
Sales           6129.43
Customers           510
Name: 109, dtype: object
DepartmentID          B
Year               2000
SegmentID             1
ProfileID           5.0
Sales           29681.1
Customers          1121
Name: 110, dtype: object
DepartmentID          B
Year               2000
SegmentID             1
ProfileID           6.0
Sales           4663.24
Customers           444
Name: 111, dtype: object
DepartmentID           B
Year                2000
SegmentID              2
ProfileID            NaN
Sales           23374.21
Customers           1126
Name: 112, dtype: object
DepartmentID          B
Year               2000
SegmentID             2
ProfileID           1.0
Sales           5591.99
Customers           551
Name: 113, dtype: object
DepartmentID          B
Year               2000
SegmentID             2
ProfileID           2.0
Sales           8940.37
Customers           696
Name: 114, dtype: object
DepartmentID           B
Year                2000
SegmentID              2
ProfileID            3.0
Sales           19567.35
Customers           1030
Name: 115, dtype: object
DepartmentID        B
Year             2000
SegmentID           2
ProfileID         4.0
Sales           13.76
Customers          27
Name: 116, dtype: object
DepartmentID          B
Year               2000
SegmentID             2
ProfileID           5.0
Sales           4064.63
Customers           469
Name: 117, dtype: object
DepartmentID          B
Year               2000
SegmentID             2
ProfileID           6.0
Sales           2446.41
Customers           364
Name: 118, dtype: object
DepartmentID          B
Year               2000
SegmentID             3
ProfileID           NaN
Sales           3795.36

Name: 227, dtype: object
DepartmentID       D
Year            1999
SegmentID          3
ProfileID        4.0
Sales           0.01
Customers          4
Name: 228, dtype: object
DepartmentID       D
Year            1999
SegmentID          3
ProfileID        5.0
Sales            0.0
Customers          2
Name: 229, dtype: object
DepartmentID       D
Year            1999
SegmentID          3
ProfileID        6.0
Sales            0.0
Customers          0
Name: 230, dtype: object
DepartmentID       D
Year            1999
SegmentID          4
ProfileID        NaN
Sales           0.01
Customers          3
Name: 231, dtype: object
DepartmentID       D
Year            1999
SegmentID          4
ProfileID        1.0
Sales           0.02
Customers          6
Name: 232, dtype: object
DepartmentID       D
Year            1999
SegmentID          4
ProfileID        2.0
Sales            0.0
Customers          1
Name: 233, dtype: object
DepartmentID       D
Year            1999
SegmentID          4
ProfileID        3.0
Sales            0.0
Customers          2
Name: 234, dtype: object
DepartmentID       D
Year            1999
SegmentID          4
ProfileID        4.0
Sales           0.02
Customers          5
Name: 235, dtype: object
DepartmentID       D
Year            1999
SegmentID          4
ProfileID        5.0
Sales            0.0
Customers          0
Name: 236, dtype: object
DepartmentID       D
Year            1999
SegmentID          4
ProfileID        6.0
Sales            0.0
Customers          2
Name: 237, dtype: object
DepartmentID       D
Year            1999
SegmentID          5
ProfileID        NaN
Sales           0.01
Customers          4
Name: 238, dtype: object
DepartmentID       D
Year            1999
SegmentID          5
ProfileID        1.0
Sales            0.0
Customers          2
Name: 239, dtype: object
DepartmentID       D
Year            1999
SegmentID          5
ProfileID        2.0
Sales           0.01
Customers          4
Name: 240, dtype: object
DepartmentID       D
Year            1999
SegmentID          5
ProfileID        3.0
Sales           0.01
Customers          4
Name: 241, dtype: object
DepartmentID       D
Year            1999
SegmentID          5
ProfileID        4.0
Sales            0.0
Customers          0
Name: 242, dtype: object
DepartmentID       D
Year            1999
SegmentID          5
ProfileID        5.0
Sales            0.0
Customers          0
Name: 243, dtype: object
DepartmentID       D
Year            1999
SegmentID          5
ProfileID        6.0
Sales            0.0
Customers          0
Name: 244, dtype: object
DepartmentID          D
Year               2000
SegmentID             1
ProfileID           NaN
Sales           3810.11
Customers          2134
Name: 245, dtype: object
DepartmentID           D
Year                2000
SegmentID              1
ProfileID            1.0
Sales           12006.69
Customers           3788
Name: 246, dtype: object
DepartmentID           D
Year                2000
SegmentID              1
ProfileID            2.0
Sales           13654.92
Customers           4039
Name: 247, dtype: object
DepartmentID           D
Year                2000
SegmentID              1
ProfileID            3.0
Sales           13966.77
Customers           4085
Name: 248, dtype: object
DepartmentID          D
Year               2000
SegmentID             1
ProfileID           4.0
Sales           3821.64
Customers          2137
Name: 249, dtype: object
DepartmentID           D
Year                2000
SegmentID              1
ProfileID            5.0
Sales           18505.86
Customers           4702
Name: 250, dtype: object
DepartmentID          D
Year               2000
SegmentID             1
ProfileID           6.0
Sales           2907.48
Customers          1864
Name: 251, dtype: object
DepartmentID           D
Year                2000
SegmentID              2
ProfileID            NaN
Sales           13514.05
Customers           4545
Name: 252, dtype: object
DepartmentID          D
Year               2000
SegmentID             2
ProfileID           1.0
Sales           3233.07
Customers          2223
Name: 253, dtype: object
DepartmentID          D
Year               2000
SegmentID             2
ProfileID           2.0
Sales           5168.97
Customers          2811
Name: 254, dtype: object
DepartmentID           D
Year                2000
SegmentID              2
ProfileID            3.0
Sales           11313.07
Customers           4159
Name: 255, dtype: object
DepartmentID       D
Year            2000
SegmentID          2
ProfileID        4.0
Sales           7.96
Customers        110
Name: 256, dtype: object
DepartmentID          D
Year               2000
SegmentID             2
ProfileID           5.0
Sales           2350.01
Customers          1895
Name: 257, dtype: object
DepartmentID          D
Year               2000
SegmentID             2
ProfileID           6.0
Sales           1414.42
Customers          1471
Name: 258, dtype: object
DepartmentID          D
Year               2000
SegmentID             3
ProfileID           NaN
Sales           2858.27
Customers          2089
Name: 259, dtype: object
DepartmentID           D
Year                2000
SegmentID              3
ProfileID            1.0
Sales           13687.92
Customers           4570
Name: 260, dtype: object
DepartmentID          D
Year               2000
SegmentID             3
ProfileID           2.0
Sales           1870.09
Customers          1689
Name: 261, dtype: object
DepartmentID         D
Year              2000
SegmentID            3
ProfileID          3.0
Sales           268.08
Customers          640
Name: 262, dtype: object
DepartmentID          D
Year               2000
SegmentID             3
ProfileID           4.0
Sales           8050.75
Customers          3505
Name: 263, dtype: object
DepartmentID          D
Year               2000
SegmentID             3
ProfileID           5.0
Sales           2904.61
Customers          2105
Name: 264, dtype: object
DepartmentID        D
Year             2000
SegmentID           3
ProfileID         6.0
Sales           84.18
Customers         358
Name: 265, dtype: object
DepartmentID          D
Year               2000
SegmentID             4
ProfileID           NaN
Sales           4493.94
Customers          2512
Name: 266, dtype: object
DepartmentID           D
Year                2000
SegmentID              4
ProfileID            1.0
Sales           18076.29
Customers           5038
Name: 267, dtype: object
DepartmentID         D
Year              2000
SegmentID            4
ProfileID          2.0
Sales           421.65
Customers          769
Name: 268, dtype: object
DepartmentID          D
Year               2000
SegmentID             4
ProfileID           3.0
Sales           3565.24
Customers          2237
Name: 269, dtype: object
DepartmentID           D
Year                2000
SegmentID              4
ProfileID            4.0
Sales           16855.25
Customers           4865
Name: 270, dtype: object
DepartmentID        D
Year             2000
SegmentID           4
ProfileID         5.0
Sales           35.88
Customers         224
Name: 271, dtype: object
DepartmentID          D
Year               2000
SegmentID             4
ProfileID           6.0
Sales           1812.23
Customers          1595
Name: 272, dtype: object
DepartmentID           D
Year                2000
SegmentID              5
ProfileID            NaN
Sales           12738.51
Customers           4224
Name: 273, dtype: object
DepartmentID          D
Year               2000
SegmentID             5
ProfileID           1.0
Sales           4295.65
Customers          2453
Name: 274, dtype: object
DepartmentID          D
Year               2000
SegmentID             5
ProfileID           2.0
Sales           9232.57
Customers          3596
Name: 275, dtype: object
DepartmentID          D
Year               2000
SegmentID             5
ProfileID           3.0
Sales           14123.5
Customers          4448
Name: 276, dtype: object
DepartmentID       D
Year            2000
SegmentID          5
ProfileID        4.0
Sales           17.6
Customers        157
Name: 277, dtype: object
DepartmentID        D
Year             2000
SegmentID           5
ProfileID         5.0
Sales           21.47
Customers         173
Name: 278, dtype: object
DepartmentID         D
Year              2000
SegmentID            5
ProfileID          6.0
Sales           107.23
Customers          388
Name: 279, dtype: object
DepartmentID         E
Year              1999
SegmentID            1
ProfileID          NaN
Sales           997.26
Customers          475
Name: 280, dtype: object
DepartmentID          E
Year               1999
SegmentID             1
ProfileID           1.0
Sales           3142.63
Customers           843
Name: 281, dtype: object
DepartmentID          E
Year               1999
SegmentID             1
ProfileID           2.0
Sales           3574.04
Customers           899
Name: 282, dtype: object
DepartmentID          E
Year               1999
SegmentID             1
ProfileID           3.0
Sales           3655.66
Customers           909
Name: 283, dtype: object
DepartmentID          E
Year               1999
SegmentID             1
ProfileID           4.0
Sales           1000.27
Customers           475
Name: 284, dtype: object
DepartmentID          E
Year               1999
SegmentID             1
ProfileID           5.0
Sales           4843.72
Customers          1046
Name: 285, dtype: object
DepartmentID        E
Year             1999
SegmentID           1
ProfileID         6.0
Sales           761.0
Customers         415
Name: 286, dtype: object
DepartmentID          E
Year               1999
SegmentID             2
ProfileID           NaN
Sales           4012.61
Customers           923
Name: 287, dtype: object
DepartmentID         E
Year              1999
SegmentID            2
ProfileID          1.0
Sales           959.97
Customers          452
Name: 288, dtype: object
DepartmentID          E
Year               1999
SegmentID             2
ProfileID           2.0
Sales           1534.78
Customers           571
Name: 289, dtype: object
DepartmentID          E
Year               1999
SegmentID             2
ProfileID           3.0
Sales           3359.09
Customers           845
Name: 290, dtype: object
DepartmentID       E
Year            1999
SegmentID          2
ProfileID        4.0
Sales           2.36
Customers         22
Name: 291, dtype: object
DepartmentID         E
Year              1999
SegmentID            2
ProfileID          5.0
Sales           697.77
Customers          385
Name: 292, dtype: object
DepartmentID         E
Year              1999
SegmentID            2
ProfileID          6.0
Sales           419.97
Customers          299
Name: 293, dtype: object
DepartmentID        E
Year             1999
SegmentID           3
ProfileID         NaN
Sales           758.1
Customers         395
Name: 294, dtype: object
DepartmentID          E
Year               1999
SegmentID             3
ProfileID           1.0
Sales           3630.45
Customers           864
Name: 295, dtype: object
DepartmentID        E
Year             1999
SegmentID           3
ProfileID         2.0
Sales           496.0
Customers         319
Name: 296, dtype: object
DepartmentID       E
Year            1999
SegmentID          3
ProfileID        3.0
Sales           71.1
Customers        121
Name: 297, dtype: object
DepartmentID         E
Year              1999
SegmentID            3
ProfileID          4.0
Sales           2135.3
Customers          663
Name: 298, dtype: object
DepartmentID         E
Year              1999
SegmentID            3
ProfileID          5.0
Sales           770.39
Customers          398
Name: 299, dtype: object
DepartmentID        E
Year             1999
SegmentID           3
ProfileID         6.0
Sales           22.33
Customers          68
Name: 300, dtype: object
DepartmentID          E
Year               1999
SegmentID             4
ProfileID           NaN
Sales           1113.33
Customers           479
Name: 301, dtype: object
DepartmentID          E
Year               1999
SegmentID             4
ProfileID           1.0
Sales           4478.24
Customers           961
Name: 302, dtype: object
DepartmentID         E
Year              1999
SegmentID            4
ProfileID          2.0
Sales           104.46
Customers          147
Name: 303, dtype: object
DepartmentID         E
Year              1999
SegmentID            4
ProfileID          3.0
Sales           883.26
Customers          427
Name: 304, dtype: object
DepartmentID          E
Year               1999
SegmentID             4
ProfileID           4.0
Sales           4175.74
Customers           928
Name: 305, dtype: object
DepartmentID       E
Year            1999
SegmentID          4
ProfileID        5.0
Sales           8.89
Customers         43
Name: 306, dtype: object
DepartmentID         E
Year              1999
SegmentID            4
ProfileID          6.0
Sales           448.97
Customers          304
Name: 307, dtype: object
DepartmentID          E
Year               1999
SegmentID             5
ProfileID           NaN
Sales           7068.85
Customers          1177
Name: 308, dtype: object
DepartmentID          E
Year               1999
SegmentID             5
ProfileID           1.0
Sales           2383.74
Customers           684
Name: 309, dtype: object
DepartmentID          E
Year               1999
SegmentID             5
ProfileID           2.0
Sales           5123.33
Customers          1002
Name: 310, dtype: object
DepartmentID          E
Year               1999
SegmentID             5
ProfileID           3.0
Sales           7837.41
Customers          1240
Name: 311, dtype: object
DepartmentID       E
Year            1999
SegmentID          5
ProfileID        4.0
Sales           9.77
Customers         44
Name: 312, dtype: object
DepartmentID        E
Year             1999
SegmentID           5
ProfileID         5.0
Sales           11.91
Customers          48
Name: 313, dtype: object
DepartmentID        E
Year             1999
SegmentID           5
ProfileID         6.0
Sales           59.51
Customers         108
Name: 314, dtype: object
DepartmentID          E
Year               2000
SegmentID             1
ProfileID           NaN
Sales           1140.34
Customers           442
Name: 315, dtype: object
DepartmentID          E
Year               2000
SegmentID             1
ProfileID           1.0
Sales           3593.53
Customers           785
Name: 316, dtype: object
DepartmentID          E
Year               2000
SegmentID             1
ProfileID           2.0
Sales           4086.84
Customers           837
Name: 317, dtype: object
DepartmentID          E
Year               2000
SegmentID             1
ProfileID           3.0
Sales           4180.17
Customers           846
Name: 318, dtype: object
DepartmentID          E
Year               2000
SegmentID             1
ProfileID           4.0
Sales           1143.79
Customers           443
Name: 319, dtype: object
DepartmentID         E
Year              2000
SegmentID            1
ProfileID          5.0
Sales           5538.7
Customers          974
Name: 320, dtype: object
DepartmentID         E
Year              2000
SegmentID            1
ProfileID          6.0
Sales           870.19
Customers          386
Name: 321, dtype: object
DepartmentID          E
Year               2000
SegmentID             2
ProfileID           NaN
Sales           3812.77
Customers           914
Name: 322, dtype: object
DepartmentID         E
Year              2000
SegmentID            2
ProfileID          1.0
Sales           912.16
Customers          447
Name: 323, dtype: object
DepartmentID          E
Year               2000
SegmentID             2
ProfileID           2.0
Sales           1458.34
Customers           565
Name: 324, dtype: object
DepartmentID         E
Year              2000
SegmentID            2
ProfileID          3.0
Sales           3191.8
Customers          836
Name: 325, dtype: object
DepartmentID       E
Year            2000
SegmentID          2
ProfileID        4.0
Sales           2.25
Customers         22
Name: 326, dtype: object
DepartmentID         E
Year              2000
SegmentID            2
ProfileID          5.0
Sales           663.02
Customers          381
Name: 327, dtype: object
DepartmentID         E
Year              2000
SegmentID            2
ProfileID          6.0
Sales           399.06
Customers          296
Name: 328, dtype: object
DepartmentID         E
Year              2000
SegmentID            3
ProfileID          NaN
Sales           749.47
Customers          405
Name: 329, dtype: object
DepartmentID          E
Year               2000
SegmentID             3
ProfileID           1.0
Sales           3589.12
Customers           886
Name: 330, dtype: object
DepartmentID         E
Year              2000
SegmentID            3
ProfileID          2.0
Sales           490.36
Customers          328
Name: 331, dtype: object
DepartmentID        E
Year             2000
SegmentID           3
ProfileID         3.0
Sales           70.29
Customers         124
Name: 332, dtype: object
DepartmentID          E
Year               2000
SegmentID             3
ProfileID           4.0
Sales           2110.99
Customers           680
Name: 333, dtype: object
DepartmentID         E
Year              2000
SegmentID            3
ProfileID          5.0
Sales           761.62
Customers          408
Name: 334, dtype: object
DepartmentID        E
Year             2000
SegmentID           3
ProfileID         6.0
Sales           22.07
Customers          69
Name: 335, dtype: object
DepartmentID          E
Year               2000
SegmentID             4
ProfileID           NaN
Sales           1159.35
Customers           483
Name: 336, dtype: object
DepartmentID          E
Year               2000
SegmentID             4
ProfileID           1.0
Sales           4663.35
Customers           969
Name: 337, dtype: object
DepartmentID         E
Year              2000
SegmentID            4
ProfileID          2.0
Sales           108.78
Customers          148
Name: 338, dtype: object
DepartmentID         E
Year              2000
SegmentID            4
ProfileID          3.0
Sales           919.77
Customers          430
Name: 339, dtype: object
DepartmentID          E
Year               2000
SegmentID             4
ProfileID           4.0
Sales           4348.34
Customers           936
Name: 340, dtype: object
DepartmentID       E
Year            2000
SegmentID          4
ProfileID        5.0
Sales           9.26
Customers         43
Name: 341, dtype: object
DepartmentID         E
Year              2000
SegmentID            4
ProfileID          6.0
Sales           467.52
Customers          307
Name: 342, dtype: object
DepartmentID          E
Year               2000
SegmentID             5
ProfileID           NaN
Sales           8627.36
Customers          1316
Name: 343, dtype: object
DepartmentID         E
Year              2000
SegmentID            5
ProfileID          1.0
Sales           2909.3
Customers          764
Name: 344, dtype: object
DepartmentID         E
Year              2000
SegmentID            5
ProfileID          2.0
Sales           6252.9
Customers         1121
Name: 345, dtype: object
DepartmentID          E
Year               2000
SegmentID             5
ProfileID           3.0
Sales           9565.36
Customers          1386
Name: 346, dtype: object
DepartmentID        E
Year             2000
SegmentID           5
ProfileID         4.0
Sales           11.92
Customers          49
Name: 347, dtype: object
DepartmentID        E
Year             2000
SegmentID           5
ProfileID         5.0
Sales           14.54
Customers          54
Name: 348, dtype: object
DepartmentID        E
Year             2000
SegmentID           5
ProfileID         6.0
Sales           72.63
Customers         121
Name: 349, dtype: object
DepartmentID          F
Year               1999

DepartmentID           G
Year                2000
SegmentID              1
ProfileID            2.0
Sales           19394.95
Customers           2166
Name: 457, dtype: object
DepartmentID           G
Year                2000
SegmentID              1
ProfileID            3.0
Sales           19837.88
Customers           2191
Name: 458, dtype: object
DepartmentID          G
Year               2000
SegmentID             1
ProfileID           4.0
Sales           5428.11
Customers          1146
Name: 459, dtype: object
DepartmentID           G
Year                2000
SegmentID              1
ProfileID            5.0
Sales           26285.05
Customers           2522
Name: 460, dtype: object
DepartmentID          G
Year               2000
SegmentID             1
ProfileID           6.0
Sales           4129.68
Customers          1000
Name: 461, dtype: object
DepartmentID           G
Year                2000
SegmentID              2
ProfileID            NaN
Sales           19095.27
Customers           2431
Name: 462, dtype: object
DepartmentID          G
Year               2000
SegmentID             2
ProfileID           1.0
Sales           4568.31
Customers          1189
Name: 463, dtype: object
DepartmentID          G
Year               2000
SegmentID             2
ProfileID           2.0
Sales           7303.73
Customers          1504
Name: 464, dtype: object
DepartmentID           G
Year                2000
SegmentID              2
ProfileID            3.0
Sales           15985.31
Customers           2225
Name: 465, dtype: object
DepartmentID        G
Year             2000
SegmentID           2
ProfileID         4.0
Sales           11.24
Customers          59
Name: 466, dtype: object
DepartmentID          G
Year               2000
SegmentID             2
ProfileID           5.0
Sales           3320.55
Customers          1014
Name: 467, dtype: object
DepartmentID          G
Year               2000
SegmentID             2
ProfileID           6.0
Sales           1998.56
Customers           787
Name: 468, dtype: object
DepartmentID          G
Year               2000
SegmentID             3
ProfileID           NaN
Sales           3515.94
Customers          1042
Name: 469, dtype: object
DepartmentID           G
Year                2000
SegmentID              3
ProfileID            1.0
Sales           16837.37
Customers           2281
Name: 470, dtype: object
DepartmentID          G
Year               2000
SegmentID             3
ProfileID           2.0
Sales           2300.38
Customers           843
Name: 471, dtype: object
DepartmentID         G
Year              2000
SegmentID            3
ProfileID          3.0
Sales           329.77
Customers          319
Name: 472, dtype: object
DepartmentID          G
Year               2000
SegmentID             3
ProfileID           4.0
Sales           9903.15
Customers          1749
Name: 473, dtype: object
DepartmentID          G
Year               2000
SegmentID             3
ProfileID           5.0
Sales           3572.94
Customers          1051
Name: 474, dtype: object
DepartmentID         G
Year              2000
SegmentID            3
ProfileID          6.0
Sales           103.55
Customers          179
Name: 475, dtype: object
DepartmentID          G
Year               2000
SegmentID             4
ProfileID           NaN
Sales           4689.57
Customers          1155
Name: 476, dtype: object
DepartmentID           G
Year                2000
SegmentID              4
ProfileID            1.0
Sales           18863.19
Customers           2316
Name: 477, dtype: object
DepartmentID         G
Year              2000
SegmentID            4
ProfileID          2.0
Sales           440.01
Customers          354
Name: 478, dtype: object
DepartmentID          G
Year               2000
SegmentID             4
ProfileID           3.0
Sales           3720.44
Customers          1028
Name: 479, dtype: object
DepartmentID           G
Year                2000
SegmentID              4
ProfileID            4.0
Sales           17588.99
Customers           2236
Name: 480, dtype: object
DepartmentID        G
Year             2000
SegmentID           4
ProfileID         5.0
Sales           37.44
Customers         103
Name: 481, dtype: object
DepartmentID          G
Year               2000
SegmentID             4
ProfileID           6.0
Sales           1891.12
Customers           733
Name: 482, dtype: object
DepartmentID           G
Year                2000
SegmentID              5
ProfileID            NaN
Sales           33425.24
Customers           3079
Name: 483, dtype: object
DepartmentID           G
Year                2000
SegmentID              5
ProfileID            1.0
Sales           11271.58
Customers           1788
Name: 484, dtype: object
DepartmentID           G
Year                2000
SegmentID              5
ProfileID            2.0
Sales           24225.81
Customers           2622
Name: 485, dtype: object
DepartmentID           G
Year                2000
SegmentID              5
ProfileID            3.0
Sales           37059.37
Customers           3242
Name: 486, dtype: object
DepartmentID        G
Year             2000
SegmentID           5
ProfileID         4.0
Sales           46.19
Customers         114
Name: 487, dtype: object
DepartmentID        G
Year             2000
SegmentID           5
ProfileID         5.0
Sales           56.33
Customers         126
Name: 488, dtype: object
DepartmentID         G
Year              2000
SegmentID            5
ProfileID          6.0
Sales           281.38
Customers          283
Name: 489, dtype: object
DepartmentID           H
Year                1999
SegmentID              1
ProfileID            NaN
Sales           69011.65
Customers           2481
Name: 490, dtype: object
DepartmentID            H
Year                 1999
SegmentID               1
ProfileID             1.0
Sales           217474.62
Customers            4405
Name: 491, dtype: object
DepartmentID            H
Year                 1999
SegmentID               1
ProfileID             2.0
Sales           247328.73
Customers            4697
Name: 492, dtype: object
DepartmentID            H
Year                 1999
SegmentID               1
ProfileID             3.0
Sales           252977.05
Customers            4751
Name: 493, dtype: object
DepartmentID           H
Year                1999
SegmentID              1
ProfileID            4.0
Sales           69220.46
Customers           2485
Name: 494, dtype: object
DepartmentID            H
Year                 1999
SegmentID               1
ProfileID             5.0
Sales           335192.72
Customers            5469
Name: 495, dtype: object
DepartmentID           H
Year                1999
SegmentID              1
ProfileID            6.0
Sales           52662.62
Customers           2168
Name: 496, dtype: object
DepartmentID            H
Year                 1999
SegmentID               2
ProfileID             NaN
Sales           437896.37
Customers            6062
Name: 497, dtype: object
DepartmentID            H
Year                 1999
SegmentID               2
ProfileID             1.0
Sales           104761.31
Customers            2965
Name: 498, dtype: object
DepartmentID            H
Year                 1999
SegmentID               2
ProfileID             2.0
Sales           167490.47
Customers            3749
Name: 499, dtype: object
DepartmentID            H
Year                 1999
SegmentID               2
ProfileID             3.0
Sales           366578.09
Customers            5546
Name: 500, dtype: object
DepartmentID         H
Year              1999
SegmentID            2
ProfileID          4.0
Sales           257.85
Customers          147
Name: 501, dtype: object
DepartmentID           H
Year                1999
SegmentID              2
ProfileID            5.0
Sales           76147.44
Customers           2528
Name: 502, dtype: object
DepartmentID           H
Year                1999
SegmentID              2
ProfileID            6.0
Sales           45831.43
Customers           1961
Name: 503, dtype: object
DepartmentID           H
Year                1999
SegmentID              3
ProfileID            NaN
Sales           77752.82
Customers           2512
Name: 504, dtype: object
DepartmentID            H
Year                 1999
SegmentID               3
ProfileID             1.0
Sales           372348.47
Customers            5498
Name: 505, dtype: object
DepartmentID           H
Year                1999
SegmentID              3
ProfileID            2.0
Sales           50871.48
Customers           2032
Name: 506, dtype: object
DepartmentID          H
Year               1999
SegmentID             3
ProfileID           3.0
Sales           7292.57
Customers           769
Name: 507, dtype: object
DepartmentID           H
Year                1999
SegmentID              3
ProfileID            4.0
Sales           219002.2
Customers           4217
Name: 508, dtype: object
DepartmentID           H
Year                1999
SegmentID              3
ProfileID            5.0
Sales           79013.41
Customers           2533
Name: 509, dtype: object
DepartmentID          H
Year               1999
SegmentID             3
ProfileID           6.0
Sales           2289.98
Customers           431
Name: 510, dtype: object
DepartmentID           H
Year                1999
SegmentID              4
ProfileID            NaN
Sales           75571.58
Customers           2481
Name: 511, dtype: object
DepartmentID            H
Year                 1999
SegmentID               4
ProfileID             1.0
Sales           303977.12
Customers            4975
Name: 512, dtype: object
DepartmentID          H
Year               1999
SegmentID             4
ProfileID           2.0
Sales           7090.64
Customers           760
Name: 513, dtype: object
DepartmentID           H
Year                1999
SegmentID              4
ProfileID            3.0
Sales           59954.26
Customers           2210
Name: 514, dtype: object
DepartmentID            H
Year                 1999
SegmentID               4
ProfileID             4.0
Sales           283443.63
Customers            4804
Name: 515, dtype: object
DepartmentID        H
Year             1999
SegmentID           4
ProfileID         5.0
Sales           603.4
Customers         222
Name: 516, dtype: object
DepartmentID           H
Year                1999
SegmentID              4
ProfileID            6.0
Sales           30475.14
Customers           1575
Name: 517, dtype: object
DepartmentID            H
Year                 1999
SegmentID               5
ProfileID             NaN
Sales           259974.35
Customers            4487
Name: 518, dtype: object
DepartmentID           H
Year                1999
SegmentID              5
ProfileID            1.0
Sales           87667.92
Customers           2606
Name: 519, dtype: object
DepartmentID            H
Year                 1999
SegmentID               5
ProfileID             2.0
Sales           188423.15
Customers            3820
Name: 520, dtype: object
DepartmentID            H
Year                 1999
SegmentID               5
ProfileID             3.0
Sales           288239.86
Customers            4724
Name: 521, dtype: object
DepartmentID         H
Year              1999
SegmentID            5
ProfileID          4.0
Sales           359.27
Customers          167
Name: 522, dtype: object
DepartmentID        H
Year             1999
SegmentID           5
ProfileID         5.0
Sales           438.1
Customers         184
Name: 523, dtype: object
DepartmentID          H
Year               1999
SegmentID             5
ProfileID           6.0
Sales           2188.48
Customers           412
Name: 524, dtype: object
DepartmentID       H
Year            2000
SegmentID          1
ProfileID        NaN
Sales           0.06
Customers          2
Name: 525, dtype: object
DepartmentID       H
Year            2000
SegmentID          1
ProfileID        1.0
Sales            0.2
Customers          4
Name: 526, dtype: object
DepartmentID       H
Year            2000
SegmentID          1
ProfileID        2.0
Sales           0.23
Customers          4
Name: 527, dtype: object
DepartmentID       H
Year            2000
SegmentID          1
ProfileID        3.0
Sales           0.23
Customers          4
Name: 528, dtype: object
DepartmentID       H
Year            2000
SegmentID          1
ProfileID        4.0
Sales           0.06
Customers          2
Name: 529, dtype: object
DepartmentID       H
Year            2000
SegmentID          1
ProfileID        5.0
Sales            0.3
Customers          5
Name: 530, dtype: object
DepartmentID       H
Year            2000
SegmentID          1
ProfileID        6.0
Sales           0.05
Customers          2
Name: 531, dtype: object
DepartmentID       H
Year            2000
SegmentID          2
ProfileID        NaN
Sales           0.33
Customers          5
Name: 532, dtype: object
DepartmentID       H
Year            2000
SegmentID          2
ProfileID        1.0
Sales           0.08
Customers          3
Name: 533, dtype: object
DepartmentID       H
Year            2000
SegmentID          2
ProfileID        2.0
Sales           0.13
Customers          3
Name: 534, dtype: object
DepartmentID       H
Year            2000
SegmentID          2
ProfileID        3.0
Sales           0.28
Customers          5
Name: 535, dtype: object
DepartmentID       H
Year            2000
SegmentID          2
ProfileID        4.0
Sales            0.0
Customers          0
Name: 536, dtype: object
DepartmentID       H
Year            2000
SegmentID          2
ProfileID        5.0
Sales           0.06
Customers          2
Name: 537, dtype: object
DepartmentID       H
Year            2000
SegmentID          2
ProfileID        6.0
Sales           0.03
Customers          2
Name: 538, dtype: object
DepartmentID       H
Year            2000
SegmentID          3
ProfileID        NaN
Sales           0.06
Customers          2
Name: 539, dtype: object
DepartmentID       H
Year            2000
SegmentID          3
ProfileID        1.0
Sales           0.29
Customers          5
Name: 540, dtype: object
DepartmentID       H
Year            2000
SegmentID          3
ProfileID        2.0
Sales           0.04
Customers          2
Name: 541, dtype: object
DepartmentID       H
Year            2000
SegmentID          3
ProfileID        3.0
Sales           0.01
Customers          1
Name: 542, dtype: object
DepartmentID       H
Year            2000
SegmentID          3
ProfileID        4.0
Sales           0.17
Customers          4
Name: 543, dtype: object
DepartmentID       H
Year            2000
SegmentID          3
ProfileID        5.0
Sales           0.06
Customers          2
Name: 544, dtype: object
DepartmentID       H
Year            2000
SegmentID          3
ProfileID        6.0
Sales            0.0
Customers          0
Name: 545, dtype: object
DepartmentID       H
Year            2000
SegmentID          4
ProfileID        NaN
Sales           0.06
Customers          2
Name: 546, dtype: object
DepartmentID       H
Year            2000
SegmentID          4
ProfileID        1.0
Sales           0.25
Customers          4
Name: 547, dtype: object
DepartmentID       H
Year            2000
SegmentID          4
ProfileID        2.0
Sales           0.01
Customers          1
Name: 548, dtype: object
DepartmentID       H
Year            2000
SegmentID          4
ProfileID        3.0
Sales           0.05
Customers          2
Name: 549, dtype: object
DepartmentID       H
Year            2000
SegmentID          4
ProfileID        4.0
Sales           0.23
Customers          4
Name: 550, dtype: object
DepartmentID       H
Year            2000
SegmentID          4
ProfileID        5.0
Sales            0.0
Customers          0
Name: 551, dtype: object
DepartmentID       H
Year            2000
SegmentID          4
ProfileID        6.0
Sales           0.03
Customers          1
Name: 552, dtype: object
DepartmentID       H
Year            2000
SegmentID          5
ProfileID        NaN
Sales           0.25
Customers          4
Name: 553, dtype: object
DepartmentID       H
Year            2000
SegmentID          5
ProfileID        1.0
Sales           0.09
Customers          3
Name: 554, dtype: object
DepartmentID       H
Year            2000
SegmentID          5
ProfileID        2.0
Sales           0.18
Customers          4
Name: 555, dtype: object
DepartmentID       H
Year            2000
SegmentID          5
ProfileID        3.0
Sales           0.28
Customers          5
Name: 556, dtype: object
DepartmentID       H
Year            2000
SegmentID          5
ProfileID        4.0
Sales            0.0
Customers          0
Name: 557, dtype: object
DepartmentID       H
Year            2000
SegmentID          5
ProfileID        5.0
Sales            0.0
Customers          0
Name: 558, dtype: object
DepartmentID       H
Year            2000
SegmentID          5
ProfileID        6.0
Sales            0.0
Customers          0
Name: 559, dtype: object
DepartmentID         I
Year              1999
SegmentID            1
ProfileID          NaN
Sales           371.37
Customers          621
Name: 560, dtype: object
DepartmentID         I
Year              1999
SegmentID            1
ProfileID          1.0
Sales           1170.3
Customers         1102
Name: 561, dtype: object
DepartmentID          I
Year               1999
SegmentID             1
ProfileID           2.0
Sales           1330.96
Customers          1175
Name: 562, dtype: object
DepartmentID          I
Year               1999
SegmentID             1
ProfileID           3.0
Sales           1361.35
Customers          1188
Name: 563, dtype: object
DepartmentID        I
Year             1999
SegmentID           1
ProfileID         4.0
Sales           372.5
Customers         621
Name: 564, dtype: object
DepartmentID          I
Year               1999
SegmentID             1
ProfileID           5.0
Sales           1803.78
Customers          1368
Name: 565, dtype: object
DepartmentID         I
Year              1999
SegmentID            1
ProfileID          6.0
Sales           283.39
Customers          542
Name: 566, dtype: object
DepartmentID          I
Year               1999
SegmentID             2
ProfileID           NaN
Sales           2575.95
Customers          1585
Name: 567, dtype: object
DepartmentID         I
Year              1999
SegmentID            2
ProfileID          1.0
Sales           616.26
Customers          775
Name: 568, dtype: object
DepartmentID         I
Year              1999
SegmentID            2
ProfileID          2.0
Sales           985.27
Customers          980
Name: 569, dtype: object
DepartmentID          I
Year               1999
SegmentID             2
ProfileID           3.0
Sales           2156.42
Customers          1450
Name: 570, dtype: object
DepartmentID       I
Year            1999
SegmentID          2
ProfileID        4.0
Sales           1.52
Customers         38
Name: 571, dtype: object
DepartmentID         I
Year              1999
SegmentID            2
ProfileID          5.0
Sales           447.94
Customers          661
Name: 572, dtype: object
DepartmentID         I
Year              1999
SegmentID            2
ProfileID          6.0
Sales           269.61
Customers          513
Name: 573, dtype: object
DepartmentID         I
Year              1999
SegmentID            3
ProfileID          NaN
Sales           502.01
Customers          688
Name: 574, dtype: object
DepartmentID          I
Year               1999
SegmentID             3
ProfileID           1.0
Sales           2404.08
Customers          1506
Name: 575, dtype: object
DepartmentID         I
Year              1999
SegmentID            3
ProfileID          2.0
Sales           328.45
Customers          557
Name: 576, dtype: object
DepartmentID        I
Year             1999
SegmentID           3
ProfileID         3.0
Sales           47.08
Customers         211
Name: 577, dtype: object
DepartmentID         I
Year              1999

In [8]:
db_connection = connector.connect(
    host="localhost",
    user="root",
    password="7040",
    database="acadiatest"
)
cursor = db_connection.cursor()

columns_to_insert = ['SegmentID', 'Segment_Description']

excel_file = pd.read_excel(r"C:\Users\Vinicius\Desktop\Acadia Test\Acadia - Sr Analyst Case Study.xlsx", sheet_name="Info - Segments")

# Iterate through the rows of the DataFrame and insert data into the MySQL table
for index, row in excel_file[columns_to_insert].iterrows():
    # Convert NaN values to 'NaN' as strings
    row = row.apply(lambda x: str(x) if pd.notna(x) else 'NaN')
    print(row)
    
    data = tuple(row)
    
    insert_query = "INSERT INTO cSegments (SegmentID, Segment_Description) VALUES (%s, %s)"
    
    cursor.execute(insert_query, data)

# Commit the changes to the database
db_connection.commit()

# Close the cursor and database connection
cursor.close()
db_connection.close()

SegmentID                            1
Segment_Description    Elite Customers
Name: 0, dtype: object
SegmentID                           2
Segment_Description    Core Customers
Name: 1, dtype: object
SegmentID                           3
Segment_Description    Power Shoppers
Name: 2, dtype: object
SegmentID                                 4
Segment_Description    Infrequent Customers
Name: 3, dtype: object
SegmentID                          5
Segment_Description    New Customers
Name: 4, dtype: object

In [10]:
db_connection = connector.connect(
    host="localhost",
    user="root",
    password="7040",
    database="acadiatest"
)
cursor = db_connection.cursor()

columns_to_insert = ['ProfileID', 'Profile_Description']

excel_file = pd.read_excel(r"C:\Users\Vinicius\Desktop\Acadia Test\Acadia - Sr Analyst Case Study.xlsx", sheet_name="Info - Profiles")

# Iterate through the rows of the DataFrame and insert data into the MySQL table
for index, row in excel_file[columns_to_insert].iterrows():
    # Convert NaN values to 'NaN' as strings
    row = row.apply(lambda x: str(x) if pd.notna(x) else 'NaN')
    print(row)
    
    data = tuple(row)
    
    insert_query = "INSERT INTO cProfiles (ProfileID, Profile_Description) VALUES (%s, %s)"
    
    cursor.execute(insert_query, data)

# Commit the changes to the database
db_connection.commit()

# Close the cursor and database connection
cursor.close()
db_connection.close()

ProfileID                          1
Profile_Description    City Slickers
Name: 0, dtype: object
ProfileID                          2
Profile_Description    Rich & Richer
Name: 1, dtype: object
ProfileID                              3
Profile_Description    Mr. & Mrs. Smiths
Name: 2, dtype: object
ProfileID                                4
Profile_Description    Blue Collar Royalty
Name: 3, dtype: object
ProfileID                            5
Profile_Description    Pinched Pockets
Name: 4, dtype: object
ProfileID                            6
Profile_Description    Normal Families
Name: 5, dtype: object

In [16]:
db_connection = connector.connect(
    host="localhost",
    user="root",
    password="7040",
    database="acadiatest"
)
cursor = db_connection.cursor()

columns_to_insert = ['DepartmentID', 'Department_Description']

excel_file = pd.read_excel(r"C:\Users\Vinicius\Desktop\Acadia Test\Acadia - Sr Analyst Case Study.xlsx", sheet_name="Info - Departments")

# Iterate through the rows of the DataFrame and insert data into the MySQL table
for index, row in excel_file[columns_to_insert].iterrows():
    # Convert NaN values to 'NaN' as strings
    row = row.apply(lambda x: str(x) if pd.notna(x) else 'NaN')
    print(row)
    
    data = tuple(row)
    
    insert_query = "INSERT INTO cDepartments (DepartmentID, Department_Description) VALUES (%s, %s)"
    
    cursor.execute(insert_query, data)

# Commit the changes to the database
db_connection.commit()

# Close the cursor and database connection
cursor.close()
db_connection.close()

DepartmentID                   A
Department_Description    Shirts
Name: 0, dtype: object
DepartmentID                          B
Department_Description    Women's Jeans
Name: 1, dtype: object
DepartmentID                        C
Department_Description    Cowboy Hats
Name: 2, dtype: object
DepartmentID                  D
Department_Description    Boots
Name: 3, dtype: object
DepartmentID                             E
Department_Description    Boot Accessories
Name: 4, dtype: object
DepartmentID                       F
Department_Description    Formalwear
Name: 5, dtype: object
DepartmentID                      G
Department_Description    Beachwear
Name: 6, dtype: object
DepartmentID                         H
Department_Description    Knick Knacks
Name: 7, dtype: object
DepartmentID                      I
Department_Description    Store Use
Name: 8, dtype: object
DepartmentID                 J
Department_Description    Misc
Name: 9, dtype: object